{"openapi":"3.1.0","info":{"title":"Orbit API","version":"1.0.0","description":"Find people actively researching specific B2B/B2C topics. Authenticate with your API key (X-API-Key header). Discovery endpoints (inventory, search) are public."},"servers":[{"url":"https://api.aws53.cloud","description":"Production"}],"paths":{"/v1/intent/topics/analyze":{"post":{"tags":["Site Analysis"],"summary":"Match a website to intent topics","description":"Scrapes a website, extracts keywords, and matches them against 20K+ pre-embedded B2B/B2C topics. Unauthenticated: 2 req/min. Authenticated: 30 req/min.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","minLength":10,"format":"uri","example":"https://snowflake.com"}},"required":["url"]}}}},"responses":{"200":{"description":"Matched topics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteTopicsResponse"}}}},"400":{"description":"Invalid URL"},"429":{"description":"Rate limit exceeded"},"500":{"description":"Processing error"}}}},"/v1/intent/topics":{"get":{"tags":["Topic Discovery"],"summary":"Browse all available intent topics","description":"Returns the full topic catalog (20K+ topics). Filter by type, industry, category, or text search. Cached 24h.","parameters":[{"schema":{"type":"string","enum":["b2b","b2c","both"]},"required":false,"name":"type","in":"query"},{"schema":{"type":"string","maxLength":100},"required":false,"name":"industry","in":"query"},{"schema":{"type":"string","maxLength":100},"required":false,"name":"category","in":"query"},{"schema":{"type":"string","maxLength":100},"required":false,"name":"q","in":"query"}],"responses":{"200":{"description":"Topic catalog","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicInventoryResponse"}}}}}}},"/v1/intent/topics/facets":{"get":{"tags":["Topic Discovery"],"summary":"Available filter values for topic inventory","description":"Returns distinct types, industries, and categories with counts. Use to build filter dropdowns.","responses":{"200":{"description":"Facets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicInventoryFacetsResponse"}}}}}}},"/v1/intent/topics/search":{"get":{"tags":["Topic Discovery"],"summary":"Search topics by name (autocomplete)","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":100,"example":"data platform"},"required":true,"name":"q","in":"query"},{"schema":{"type":"string","maxLength":100,"example":"Technology"},"required":false,"name":"industry","in":"query"},{"schema":{"type":"string","enum":["b2b","b2c","both"]},"required":false,"name":"type","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":50,"default":10},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Matching topics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicSearchResponse"}}}}}}},"/v1/intent/topics/{topicId}/trend":{"get":{"tags":["Topic Discovery"],"summary":"Get daily trend for a topic","parameters":[{"schema":{"type":["integer","null"]},"required":false,"name":"topicId","in":"path"}],"responses":{"200":{"description":"Daily trend data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicTrendResponse"}}}}}}},"/v1/intent/topics/compare":{"post":{"tags":["Topic Discovery"],"summary":"Compare trends across multiple topics","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"topicIds":{"type":"array","items":{"type":"integer"},"minItems":1,"maxItems":10}},"required":["topicIds"]}}}},"responses":{"200":{"description":"Comparison data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicCompareResponse"}}}}}}},"/v1/intent/topics/movers":{"get":{"tags":["Topic Discovery"],"summary":"Top topics by day-over-day audience growth","parameters":[{"schema":{"type":"integer","minimum":1,"maximum":50,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["up","down"],"default":"up"},"required":false,"name":"direction","in":"query"},{"schema":{"type":"string","enum":["b2b","b2c","both"]},"required":false,"name":"type","in":"query"},{"schema":{"type":"string","minLength":1,"maxLength":100},"required":false,"name":"industry","in":"query"}],"responses":{"200":{"description":"Top movers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopMoversResponse"}}}}}}},"/v1/intent/audiences/filters":{"get":{"tags":["Audience Builder"],"summary":"Available ICP filter values for audience queries","description":"Returns distinct values for company industry, seniority, company size, state, department, revenue range, age range, and gender. Cached for 24 hours.","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Filter options","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceFiltersResponse"}}}}}}},"/v1/intent/audiences/preview":{"post":{"tags":["Audience Builder"],"summary":"Preview audience count and sample before full query","description":"Returns total matching count + up to 50 masked sample people. Much faster than the full audience query. Use this to let users see the size of their audience before loading all results.","security":[{"apiKeyAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"topicIds":{"type":"array","items":{"type":"integer"},"minItems":1,"maxItems":10},"minScore":{"type":"integer","minimum":1,"maximum":100,"default":70},"maxScore":{"type":"integer","minimum":1,"maximum":100,"default":100},"minTopicOverlap":{"type":"integer","minimum":1,"maximum":10,"default":1},"filters":{"type":"object","properties":{"companyIndustry":{"type":"array","items":{"type":"string"}},"seniority":{"type":"array","items":{"type":"string"}},"companySize":{"type":"array","items":{"type":"string"}},"department":{"type":"array","items":{"type":"string"}},"state":{"type":"string"},"companyRevenueRange":{"type":"array","items":{"type":"string"}},"ageRange":{"type":"array","items":{"type":"string"}},"gender":{"type":"string"},"isB2b":{"type":"string","enum":["y","n"]},"jobTitle":{"type":"string","maxLength":200},"hasBusinessEmail":{"type":"boolean"},"hasPersonalEmail":{"type":"boolean"},"hasLinkedin":{"type":"boolean"},"hasPhone":{"type":"boolean"},"companyDomain":{"type":"string","maxLength":255},"companyName":{"type":"string","maxLength":255}}}},"required":["topicIds"]}}}},"responses":{"200":{"description":"Audience preview","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudiencePreviewResponse"}}}}}}},"/v1/intent/audiences/query":{"post":{"tags":["Audience Builder"],"summary":"Find people interested in topics, filtered by ICP","description":"Joins intent signals with the identity graph. Returns people matching the selected topics and ICP filters. Score range 1-100, default 70. Use /preview first to check count.","security":[{"apiKeyAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"audienceId":{"type":"string","format":"uuid"},"topicIds":{"type":"array","items":{"type":"integer"},"minItems":1,"maxItems":10,"description":"Required unless audienceId is provided (config loaded from saved audience)."},"minScore":{"type":"integer","minimum":1,"maximum":100,"default":70},"maxScore":{"type":"integer","minimum":1,"maximum":100,"default":100},"minTopicOverlap":{"type":"integer","minimum":1,"maximum":10,"default":1},"filters":{"type":"object","properties":{"companyIndustry":{"type":"array","items":{"type":"string"}},"seniority":{"type":"array","items":{"type":"string"}},"companySize":{"type":"array","items":{"type":"string"}},"department":{"type":"array","items":{"type":"string"}},"state":{"type":"string"},"companyRevenueRange":{"type":"array","items":{"type":"string"}},"ageRange":{"type":"array","items":{"type":"string"}},"gender":{"type":"string"},"isB2b":{"type":"string","enum":["y","n"]},"jobTitle":{"type":"string","maxLength":200},"hasBusinessEmail":{"type":"boolean"},"hasPersonalEmail":{"type":"boolean"},"hasLinkedin":{"type":"boolean"},"hasPhone":{"type":"boolean"},"companyDomain":{"type":"string","maxLength":255},"companyName":{"type":"string","maxLength":255}}},"date":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Data date (YYYY-MM-DD) to browse a specific daily run. Defaults to latest."},"limit":{"type":"integer","minimum":1,"maximum":100,"default":50},"cursor":{"type":["string","null"]}}}}}},"responses":{"200":{"description":"Matched audience (from cache)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceResponse"}}}},"202":{"description":"Materialization enqueued — poll until status is ready","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceMaterializingResponse"}}}}}}},"/v1/intent/audiences":{"get":{"tags":["Audience Builder"],"summary":"List saved audiences for the organization","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Saved audiences","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceListResponse"}}}}}},"post":{"tags":["Audience Builder"],"summary":"Save an audience definition","security":[{"apiKeyAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":255},"config":{"type":"object","properties":{"topicIds":{"type":"array","items":{"type":"integer"},"minItems":1,"maxItems":10},"minScore":{"type":"integer","minimum":1,"maximum":100},"maxScore":{"type":"integer","minimum":1,"maximum":100},"minTopicOverlap":{"type":"integer","minimum":1,"maximum":10},"filters":{"type":"object","properties":{"companyIndustry":{"type":"array","items":{"type":"string"}},"seniority":{"type":"array","items":{"type":"string"}},"companySize":{"type":"array","items":{"type":"string"}},"department":{"type":"array","items":{"type":"string"}},"state":{"type":"string"},"companyRevenueRange":{"type":"array","items":{"type":"string"}},"ageRange":{"type":"array","items":{"type":"string"}},"gender":{"type":"string"},"isB2b":{"type":"string","enum":["y","n"]},"jobTitle":{"type":"string","maxLength":200},"hasBusinessEmail":{"type":"boolean"},"hasPersonalEmail":{"type":"boolean"},"hasLinkedin":{"type":"boolean"},"hasPhone":{"type":"boolean"},"companyDomain":{"type":"string","maxLength":255},"companyName":{"type":"string","maxLength":255}}},"sourceUrl":{"type":"string","format":"uri"}},"required":["topicIds"]},"audienceSize":{"type":"integer"}},"required":["name","config"]}}}},"responses":{"201":{"description":"Audience created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceCreatedResponse"}}}}}}},"/v1/intent/audiences/{id}":{"get":{"tags":["Audience Builder"],"summary":"Get a single saved audience by ID","security":[{"apiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Audience details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceDetailResponse"}}}},"404":{"description":"Audience not found"}}},"patch":{"tags":["Audience Builder"],"summary":"Update a saved audience","security":[{"apiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":255},"status":{"type":"string","enum":["active","paused","draft"]},"config":{"type":"object","properties":{"topicIds":{"type":"array","items":{"type":"integer"},"minItems":1,"maxItems":10},"minScore":{"type":"integer","minimum":1,"maximum":100},"maxScore":{"type":"integer","minimum":1,"maximum":100},"minTopicOverlap":{"type":"integer","minimum":1,"maximum":10},"filters":{"type":"object","properties":{"companyIndustry":{"type":"array","items":{"type":"string"}},"seniority":{"type":"array","items":{"type":"string"}},"companySize":{"type":"array","items":{"type":"string"}},"department":{"type":"array","items":{"type":"string"}},"state":{"type":"string"},"companyRevenueRange":{"type":"array","items":{"type":"string"}},"ageRange":{"type":"array","items":{"type":"string"}},"gender":{"type":"string"},"isB2b":{"type":"string","enum":["y","n"]},"jobTitle":{"type":"string","maxLength":200},"hasBusinessEmail":{"type":"boolean"},"hasPersonalEmail":{"type":"boolean"},"hasLinkedin":{"type":"boolean"},"hasPhone":{"type":"boolean"},"companyDomain":{"type":"string","maxLength":255},"companyName":{"type":"string","maxLength":255}}},"sourceUrl":{"type":"string","format":"uri"}},"required":["topicIds"]},"audienceSize":{"type":"integer"}}}}}},"responses":{"200":{"description":"Audience updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceUpdatedResponse"}}}}}},"delete":{"tags":["Audience Builder"],"summary":"Delete a saved audience","security":[{"apiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Audience deleted"},"404":{"description":"Audience not found"}}}},"/v1/intent/audiences/{id}/export":{"post":{"tags":["Audience Results"],"summary":"Export audience as CSV and get a download URL","description":"Generates a CSV from cached audience results, uploads to B2, returns a signed download URL valid for 24 hours. Use this URL to download directly or open in Google Sheets.","security":[{"apiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"required":false,"name":"date","in":"query"}],"responses":{"200":{"description":"Export ready","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceExportResponse"}}}},"404":{"description":"Audience not found or not yet materialized"}}}},"/v1/intent/audiences/{id}/runs":{"get":{"tags":["Audience Results"],"summary":"List available daily runs for a saved audience","description":"Returns all materialized daily runs with their date, row count, and status. Each active audience gets a new run when fresh intent data arrives.","security":[{"apiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Daily runs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceRunsResponse"}}}}}}},"/v1/intent/audiences/{id}/stats":{"get":{"tags":["Audience Results"],"summary":"Get fill rates for a cached audience","description":"Returns the percentage of non-empty values for each data field. Pass ?date=YYYY-MM-DD for a specific run, or omit for the latest.","security":[{"apiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"required":false,"name":"date","in":"query"}],"responses":{"200":{"description":"Fill rates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceStatsResponse"}}}},"404":{"description":"Audience not found or not yet materialized"}}}},"/v1/intent/audiences/{id}/status":{"get":{"tags":["Audience Results"],"summary":"Check materialization status","description":"Lightweight status check — use this for polling instead of the full results endpoint.","security":[{"apiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"required":false,"name":"date","in":"query"}],"responses":{"200":{"description":"Status of the latest run","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceStatusResponse"}}}}}}},"/v1/intent/audiences/{id}/results":{"get":{"tags":["Audience Results"],"summary":"Get audience results","description":"Paginated full unmasked profiles from a materialized audience. Returns 202 if still materializing.","security":[{"apiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"required":false,"name":"date","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string"},"required":false,"name":"cursor","in":"query"}],"responses":{"200":{"description":"Audience results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceResultsResponse"}}}},"202":{"description":"Still materializing — poll status endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceResultsMaterializingResponse"}}}}}}}},"tags":[{"name":"Topic Discovery","description":"Browse, search, and analyze 20K+ intent topics — trends, movers, comparisons"},{"name":"Audience Builder","description":"Create and manage saved audiences — configure topics, filters, activate/pause"},{"name":"Audience Results","description":"Get people data — preview counts, full profiles, CSV exports, fill rates, run history"},{"name":"Site Analysis","description":"Analyze a website URL to find matching intent topics"}],"components":{"schemas":{"SiteTopicsResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"company":{"type":["string","null"]},"summary":{"type":["string","null"]},"keywords":{"type":"array","items":{"type":"string"}},"topics":{"type":"array","items":{"type":"object","properties":{"topicId":{"type":"number"},"topicName":{"type":"string"},"type":{"type":"string"},"industry":{"type":"string"},"category":{"type":"string"},"similarity":{"type":"number"},"matchedKeyword":{"type":"string"}},"required":["topicId","topicName","type","industry","category","similarity","matchedKeyword"]}}},"required":["company","summary","keywords","topics"]}},"required":["data"]},"TopicInventoryResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"topicId":{"type":"number"},"topicName":{"type":"string"},"type":{"type":"string"},"industry":{"type":"string"},"category":{"type":"string"}},"required":["topicId","topicName","type","industry","category"]}},"meta":{"type":"object","properties":{"total":{"type":"number"},"page":{"type":"number"},"pageSize":{"type":"number"},"hasMore":{"type":"boolean"}},"required":["total","page","pageSize","hasMore"]}},"required":["data","meta"]},"TopicInventoryFacetsResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"types":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"count":{"type":"number"}},"required":["value","count"]}},"industries":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"count":{"type":"number"}},"required":["value","count"]}},"categories":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"count":{"type":"number"}},"required":["value","count"]}}},"required":["types","industries","categories"]}},"required":["data"]},"TopicSearchResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"topicId":{"type":"number"},"topicName":{"type":"string"},"type":{"type":"string"},"industry":{"type":"string"},"category":{"type":"string"}},"required":["topicId","topicName","type","industry","category"]}}},"required":["data"]},"TopicTrendResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"topicName":{"type":"string"},"type":{"type":"string"},"industry":{"type":"string"},"category":{"type":"string"},"uniqueAudience":{"type":"number"},"totalSignals":{"type":"number"},"avgScore":{"type":"number"},"highAudience":{"type":"number"},"mediumAudience":{"type":"number"},"lowAudience":{"type":"number"}},"required":["date","topicName","type","industry","category","uniqueAudience","totalSignals","avgScore","highAudience","mediumAudience","lowAudience"]}}},"required":["data"]},"TopicCompareResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"topicId":{"type":"number"},"topicName":{"type":"string"},"data":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"uniqueAudience":{"type":"number"},"totalSignals":{"type":"number"},"avgScore":{"type":"number"},"highAudience":{"type":"number"},"mediumAudience":{"type":"number"},"lowAudience":{"type":"number"}},"required":["date","uniqueAudience","totalSignals","avgScore","highAudience","mediumAudience","lowAudience"]}}},"required":["topicId","topicName","data"]}}},"required":["data"]},"TopMoversResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"topicId":{"type":"number"},"topicName":{"type":"string"},"type":{"type":"string"},"industry":{"type":"string"},"todayAudience":{"type":"number"},"yesterdayAudience":{"type":"number"},"pctChange":{"type":"number"}},"required":["topicId","topicName","type","industry","todayAudience","yesterdayAudience","pctChange"]}}},"required":["data"]},"AudienceFiltersResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"seniority":{"type":"array","items":{"type":"string"}},"companyIndustry":{"type":"array","items":{"type":"string"}},"companySize":{"type":"array","items":{"type":"string"}},"department":{"type":"array","items":{"type":"string"}},"companyRevenueRange":{"type":"array","items":{"type":"string"}},"ageRange":{"type":"array","items":{"type":"string"}},"gender":{"type":"array","items":{"type":"string"}}},"required":["seniority","companyIndustry","companySize","department","companyRevenueRange","ageRange","gender"]}},"required":["data"]},"AudiencePreviewResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"totalCount":{"type":"number"},"sample":{"type":"array","items":{"type":"object","properties":{"hem":{"type":"string"},"intentScore":{"type":"number"},"topicId":{"type":"number"},"email":{"type":"string"},"company":{"type":"string"},"jobTitle":{"type":"string"},"masked":{"type":"boolean"}},"required":["hem","intentScore","topicId","email","company","jobTitle","masked"]}},"previewKey":{"type":"string"},"dataDate":{"type":"string"}},"required":["totalCount","sample","previewKey","dataDate"]}},"required":["data"]},"AudienceResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"hem":{"type":"string"},"intentScore":{"type":"number"},"topicId":{"type":"number"},"email":{"type":"string"},"company":{"type":"string"},"jobTitle":{"type":"string"}},"required":["hem","intentScore","topicId","email","company","jobTitle"]}},"meta":{"type":"object","properties":{"count":{"type":"number"},"totalCount":{"type":"number"},"nextCursor":{"type":["string","null"]},"hasMore":{"type":"boolean"},"status":{"type":"string"},"cacheKey":{"type":"string"},"dataDate":{"type":["string","null"]}},"required":["count","totalCount","nextCursor","hasMore","status","cacheKey","dataDate"]}},"required":["data","meta"]},"AudienceMaterializingResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{}}},"meta":{"type":"object","properties":{"count":{"type":"number"},"totalCount":{"type":"number"},"nextCursor":{"type":["string","null"]},"hasMore":{"type":"boolean"},"status":{"type":"string","enum":["materializing"]},"cacheKey":{"type":"string"},"dataDate":{"type":["string","null"]}},"required":["count","totalCount","nextCursor","hasMore","status","cacheKey","dataDate"]}},"required":["data","meta"]},"AudienceListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"status":{"type":"string","enum":["draft","active","paused"]},"config":{"type":"object","properties":{"topicIds":{"type":"array","items":{"type":"integer"},"minItems":1,"maxItems":10},"minScore":{"type":"integer","minimum":1,"maximum":100},"maxScore":{"type":"integer","minimum":1,"maximum":100},"minTopicOverlap":{"type":"integer","minimum":1,"maximum":10},"filters":{"type":"object","properties":{"companyIndustry":{"type":"array","items":{"type":"string"}},"seniority":{"type":"array","items":{"type":"string"}},"companySize":{"type":"array","items":{"type":"string"}},"department":{"type":"array","items":{"type":"string"}},"state":{"type":"string"},"companyRevenueRange":{"type":"array","items":{"type":"string"}},"ageRange":{"type":"array","items":{"type":"string"}},"gender":{"type":"string"},"isB2b":{"type":"string","enum":["y","n"]},"jobTitle":{"type":"string","maxLength":200},"hasBusinessEmail":{"type":"boolean"},"hasPersonalEmail":{"type":"boolean"},"hasLinkedin":{"type":"boolean"},"hasPhone":{"type":"boolean"},"companyDomain":{"type":"string","maxLength":255},"companyName":{"type":"string","maxLength":255}}},"sourceUrl":{"type":"string","format":"uri"}},"required":["topicIds"]},"topics":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"}},"required":["id","name"]}},"audienceSize":{"type":["number","null"]},"lastRefreshedAt":{"type":["string","null"]},"createdAt":{"type":["string","null"]},"updatedAt":{"type":["string","null"]}},"required":["id","name","status","config","topics","audienceSize","lastRefreshedAt","createdAt","updatedAt"]}}},"required":["data"]},"AudienceCreatedResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"status":{"type":"string"},"config":{"type":"object","properties":{"topicIds":{"type":"array","items":{"type":"integer"},"minItems":1,"maxItems":10},"minScore":{"type":"integer","minimum":1,"maximum":100},"maxScore":{"type":"integer","minimum":1,"maximum":100},"minTopicOverlap":{"type":"integer","minimum":1,"maximum":10},"filters":{"type":"object","properties":{"companyIndustry":{"type":"array","items":{"type":"string"}},"seniority":{"type":"array","items":{"type":"string"}},"companySize":{"type":"array","items":{"type":"string"}},"department":{"type":"array","items":{"type":"string"}},"state":{"type":"string"},"companyRevenueRange":{"type":"array","items":{"type":"string"}},"ageRange":{"type":"array","items":{"type":"string"}},"gender":{"type":"string"},"isB2b":{"type":"string","enum":["y","n"]},"jobTitle":{"type":"string","maxLength":200},"hasBusinessEmail":{"type":"boolean"},"hasPersonalEmail":{"type":"boolean"},"hasLinkedin":{"type":"boolean"},"hasPhone":{"type":"boolean"},"companyDomain":{"type":"string","maxLength":255},"companyName":{"type":"string","maxLength":255}}},"sourceUrl":{"type":"string","format":"uri"}},"required":["topicIds"]},"audienceSize":{"type":["number","null"]},"lastRefreshedAt":{"type":["string","null"]},"createdAt":{"type":["string","null"]}},"required":["id","name","status","config","audienceSize","lastRefreshedAt","createdAt"]}},"required":["data"]},"AudienceDetailResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"status":{"type":"string","enum":["draft","active","paused"]},"config":{"type":"object","properties":{"topicIds":{"type":"array","items":{"type":"integer"},"minItems":1,"maxItems":10},"minScore":{"type":"integer","minimum":1,"maximum":100},"maxScore":{"type":"integer","minimum":1,"maximum":100},"minTopicOverlap":{"type":"integer","minimum":1,"maximum":10},"filters":{"type":"object","properties":{"companyIndustry":{"type":"array","items":{"type":"string"}},"seniority":{"type":"array","items":{"type":"string"}},"companySize":{"type":"array","items":{"type":"string"}},"department":{"type":"array","items":{"type":"string"}},"state":{"type":"string"},"companyRevenueRange":{"type":"array","items":{"type":"string"}},"ageRange":{"type":"array","items":{"type":"string"}},"gender":{"type":"string"},"isB2b":{"type":"string","enum":["y","n"]},"jobTitle":{"type":"string","maxLength":200},"hasBusinessEmail":{"type":"boolean"},"hasPersonalEmail":{"type":"boolean"},"hasLinkedin":{"type":"boolean"},"hasPhone":{"type":"boolean"},"companyDomain":{"type":"string","maxLength":255},"companyName":{"type":"string","maxLength":255}}},"sourceUrl":{"type":"string","format":"uri"}},"required":["topicIds"]},"topics":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"}},"required":["id","name"]}},"audienceSize":{"type":["number","null"]},"lastRefreshedAt":{"type":["string","null"]},"createdAt":{"type":["string","null"]},"updatedAt":{"type":["string","null"]}},"required":["id","name","status","config","topics","audienceSize","lastRefreshedAt","createdAt","updatedAt"]}},"required":["data"]},"AudienceUpdatedResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"status":{"type":"string"},"config":{"type":"object","properties":{"topicIds":{"type":"array","items":{"type":"integer"},"minItems":1,"maxItems":10},"minScore":{"type":"integer","minimum":1,"maximum":100},"maxScore":{"type":"integer","minimum":1,"maximum":100},"minTopicOverlap":{"type":"integer","minimum":1,"maximum":10},"filters":{"type":"object","properties":{"companyIndustry":{"type":"array","items":{"type":"string"}},"seniority":{"type":"array","items":{"type":"string"}},"companySize":{"type":"array","items":{"type":"string"}},"department":{"type":"array","items":{"type":"string"}},"state":{"type":"string"},"companyRevenueRange":{"type":"array","items":{"type":"string"}},"ageRange":{"type":"array","items":{"type":"string"}},"gender":{"type":"string"},"isB2b":{"type":"string","enum":["y","n"]},"jobTitle":{"type":"string","maxLength":200},"hasBusinessEmail":{"type":"boolean"},"hasPersonalEmail":{"type":"boolean"},"hasLinkedin":{"type":"boolean"},"hasPhone":{"type":"boolean"},"companyDomain":{"type":"string","maxLength":255},"companyName":{"type":"string","maxLength":255}}},"sourceUrl":{"type":"string","format":"uri"}},"required":["topicIds"]},"audienceSize":{"type":["number","null"]},"lastRefreshedAt":{"type":["string","null"]},"updatedAt":{"type":["string","null"]}},"required":["id","name","status","config","audienceSize","lastRefreshedAt","updatedAt"]}},"required":["data"]},"AudienceExportResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"downloadUrl":{"type":"string"},"fileName":{"type":"string"},"rows":{"type":"number"},"dataDate":{"type":"string"},"expiresIn":{"type":"string"},"cached":{"type":"boolean"}},"required":["downloadUrl","fileName","rows","dataDate","expiresIn","cached"]}},"required":["data"]},"AudienceRunsResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"cacheKey":{"type":"string"},"dataDate":{"type":"string"},"status":{"type":"string"},"totalCount":{"type":"number"},"createdAt":{"type":"string"},"hasExport":{"type":"boolean"}},"required":["cacheKey","dataDate","status","totalCount","createdAt","hasExport"]}}},"required":["data"]},"AudienceStatsResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"total":{"type":"number"},"dataDate":{"type":"string"},"fields":{"type":"object","additionalProperties":{"type":"number"}}},"required":["total","dataDate","fields"]}},"required":["data"]},"AudienceStatusResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"status":{"type":"string","enum":["ready","materializing","failed","none"]},"totalCount":{"type":"number"},"dataDate":{"type":["string","null"]},"runId":{"type":["string","null"]}},"required":["status","totalCount","dataDate","runId"]}},"required":["data"]},"AudienceResultsResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"personId":{"type":"string"},"intentScore":{"type":"number"},"email":{"type":"string"}},"required":["personId","intentScore","email"]}},"meta":{"type":"object","properties":{"count":{"type":"number"},"totalCount":{"type":"number"},"nextCursor":{"type":["string","null"]},"hasMore":{"type":"boolean"},"status":{"type":"string","enum":["ready"]},"dataDate":{"type":"string"}},"required":["count","totalCount","nextCursor","hasMore","status","dataDate"]}},"required":["data","meta"]},"AudienceResultsMaterializingResponse":{"type":"object","properties":{"data":{"type":"array","items":{}},"meta":{"type":"object","properties":{"status":{"type":"string"},"dataDate":{"type":["string","null"]}},"required":["status","dataDate"]}},"required":["data","meta"]}},"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key","description":"Organization API key (sk_...). Get yours from Settings > API Keys in the dashboard."}}}}